name: Multi-job
on: [push]

jobs:
    job1:
        runs-on: ubuntu-latest
        steps:
          - name: checkout code
            uses: actions/checkout@v4
          - name: setup go
            uses: actions/setup-go@v5.
          - name: build go binary
            run: go build -o main main.go
          - name: run binary
            run: ./main
    job2:
        runs-on: windows-latest
        steps:
          - name: checkout code
            uses: actions/checkout@4
          - name: setup go
            uses: actions/setup-go@v5.
          - name: build go binary
            run: go build -o main.exe main.go
          - name: run binary
            run: .\main.exe
    job3:
        runs-on: macos-latest
        steps:
          - name: checkout code
            uses: actions/checkout@4
          - name: setup go
            uses: actions/setup-go@v5.
          - run: go build -o main main.go
          - run: ./main
    job4:
        runs-on: ubuntu-latest
        needs: [job1, job2, job3]
        steps:
          - name: checkout code
            uses: actions/checkout@v4
          - name: setup go
            uses: actions/setup-go@v5.
          - name: Cross-compile for all platforms
            run: |
              echo "Cross compiling for all platforms:"
              GOOS=linux GOARCH=amd64 go build -o main-linux main.go
              GOOS=windows GOARCH=amd64 go build -o main-windows.exe main.go
              GOOS=darwin GOARCH=amd64 go build -o main-macos-intel main.go
          - name: run binary
            run: ./main